<app-handtracker (onPrediction)="prediction($event)"></app-handtracker>

<div class="container">
<div class="row">
    <div class="col">
        <!-- <div class="text-style" [innerHTML]="gesture"></div> -->
        <ul>
            <span id="list-title">Gestures List</span>
            <li>1 pointing - add description</li>
            <li>2 pointing - Take a photo</li>
            <li>1 open - Open gallery</li>
            <li>1 closed - Close gallery </li>
            <li>2 open - show next photo</li>
            <li>2 closed - show previous</li>
            <li>1 closed 1 pointing - Open the text input box</li>
        </ul>
    </div>
</div>
</div>